<% switcher_id ||= "1" %>
<div class="main-footer__language-container voca-js--weglot-locale-switcher" data-weglot-active="<%= ::Decidim::Voca.weglot? %>">
    <button id="trigger-dropdown-language-chooser-<%= switcher_id %>" data-controller="dropdown" data-target="dropdown-menu-language-chooser-<%= switcher_id %>" class="main-footer__language-trigger">
      <%= icon "global-line" %>
      <span class="voca-js--weglot-current-language"></span>
      <%= icon "arrow-down-s-line" %>
    </button>
    <div id="dropdown-menu-language-chooser-<%= switcher_id %>" class="voca-js--weglot-locale-switcher-dropdown" aria-hidden="true">
        <ul class="main-footer__language" role="menu">
        </ul>
    </div>
</div>