<% switcher_id ||= "topbar" %>
<div class="main-main-bar__links-desktop__item vocajs_weglot__locale_switcher" data-weglot-active="<%= ::Decidim::Voca.weglot? %>">
    <button id="trigger-dropdown-language-chooser-<%= switcher_id %>" data-controller="dropdown" data-target="dropdown-menu-language-chooser-<%= switcher_id %>" class="main-bar__links-desktop__item-trigger">
      <%= icon "global-line" %>
      <span class="vocajs_weglot__locale_current"></span>
      <%= icon "arrow-down-s-line" %>
    </button>
    <div id="dropdown-menu-language-chooser-<%= switcher_id %>" class="vocajs_weglot__locale_dropdown" aria-hidden="true">
        <ul class="main-bar__links-desktop__item-languages" role="menu" data-weglot-item-class="hover:bg-secondary hover:text-white transition" data-weglot-textitem-class="">
        </ul>
    </div>
</div>